@media screen and (max-width:520px){
    :root {
        --cont-width: 100vw;
    }
}

@media screen and (min-width:960px){
    :root {
        --cont-width: max(36vw, 520px);
    }
}

a{
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}
.div{
    padding: 0px;
    height: auto;
}

.in, .orow{
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    font-size: 3.3vh;
    font-weight: 480;
    text-align: left;
}

.inText {
    display: inline-block;
    width: calc(var(--cont-width) - 6em - 3vw);
    letter-spacing: -3px;
    font-family: "Courier New", Courier, monospace;
}

.inText:empty:before {
    content: attr(placeholder);
    color: #999;
}

.inTitile{
    display: inline-block;
    width: 6em;
}

.btn, #cont, footer{
    text-align: center;
}

.btn > p, footer > p{
    margin:0;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 0.6vh;
}

.btn > p{
    font-size: 3.6vh;
    padding: 1.5vh;
    font-weight: 500;
}

.btn:hover{
    cursor: pointer;

}

.orow{
    border-top: solid 2px #999;
}

html, body{
    background-color: #333;
    margin: 0;
    height: 100vh; 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

#cont{
    min-height: 100vh; /* set height as you need */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: var(--cont-width);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;   
    margin: 0 auto;
    position: relative;
}

#cont > div{
    width: var(--cont-width);
    border-bottom: solid 2px #666;
}

#head{
    text-align: left;
    padding-bottom: 1vh;
}

#tt{
    font-size: 51px;
    font-weight: 630;
    
    margin: 4vh auto 2.7vh 8.4%;
}

#pw{
    font-size: 27.9px;
    color: #333;
    position: absolute;
    top: calc(102px + 9vh);
    right: 11%;
    font-weight: 600;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#head > img{
    margin-left: 10%;
    width: 66.7%;
    height: auto;
}

#out{
    display: none;
}

#out:first-child{
    border: none !important;
}

#cls{
    display: none;
}

footer {
    margin-top: auto;

    margin-bottom: 2vh;
}

svg {
    display: inline-flex;
    align-self: center;
    bottom: -0.125em;
    position: relative;
    height: 1em;
    width: 1em;
}

::-webkit-scrollbar {
    width: 10px;    
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}